body {
    font-family: "Roboto", serif;
    margin: 0;
}

a {
    font-weight: 0;
    color: white;
    text-decoration: none;
}

p {
    text-align: center;
}

.initial {
    background-color: #1f2937;
}

.header {
    padding-top: 20px;
    margin: 0px 150px 80px 150px;
    display: flex;
}

.left-links {
    font-weight: 900;
    color: white;
    display: flex;
    flex: 1 0 auto;
}

.right-links {
    gap: 10px;
    display: flex;
}

.paragraph {
    margin: 0 160px 0 160px;
    display: flex;
}

.p-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: fit-content;
}

.p-header {
    display: flex;
    align-items: flex-start;
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    padding-bottom: 15px;
}

.p-paragraph {
    color: #e5e7eb;
    font-size: 18px;
    flex: 1 0 100%;
    padding-bottom: 15px;
}

.button {
    color: white;
    border: 0;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #3882f6;

}

.hero {
    display: flex;
    padding-bottom: 60px;
}

.placeholder-img {
    display: flex;
    flex: 1 0 50%;
    width: 50%;
    border: 2px solid white;
}

.i-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 30px;
}

.img-1 {
    border: 4px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.i-container {
    display: flex;
    padding: 0 250px 40px 250px;
    justify-content: space-evenly;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 50px 300px 50px 300px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.citation {
    font-weight: 700;
    text-align: right;
}

.sign {
    padding: 50px 400px 50px 400px;
}

.s-container {
    display: flex;
    padding: 20px 120px 20px 120px;
    border-radius: 10px;
    background-color: #3882f6;
}

.s-container-text {
    flex: 1 0 auto;
}

.s-header {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.s-paragraph {
    padding-top: 5px;
    color: white;
    font-size: 14px;
}

.s-container-button {
    color: white;
    border: 0;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #3882f6;
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    margin: 0;
    padding: 20px 30% 20px 30%; 
}

.f-text {
    color: #E3E4E6;
}
